body, .body {
	background: #F4F5F7;
}

.container.section {
	border: solid 1px #CCCCCC;
	border-bottom: solid 2px #DDDDDD;
	// margin: 0 auto 20px auto; // add 20px btwn sections
	margin-top: 20px;
	border-top: 0;
	table.row.section-header {
		h2 {
			font-size: 14px;
			font-weight: bold;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
	}
	table.row.section-body {
		// Apply padding to text-pad (putting it on <table> doesn't work in outlook)
		.text-pad { padding-top: 20px; }
	}

	&.editorial {
		.section-header {
			background-color: #6C7F92;
			h2 { color: #FFFFFF; }
		}
		.section-body {
			background-color: #FFFFFF;
		}
	}
	&.ad {
		.section-header {
			background-color: #F3F5F6;
			border-top: 1px solid #CCC ;
			border-bottom: 1px solid #CCC ;
			h2 { color: #333333; }
		}
		.section-body {
			background-color: #FFFFFF;
			td { color: #777777 !important; }
			td a {
				color: #777777 !important;
			}
		}
	}
}
