
@import "global";

@if $include-html-grid-classes {
	td.expander {
		color: inherit;
		font-family: inherit;
		font-weight: inherit;
		hyphens: inherit;
		-moz-hyphens: inherit;
		-webkit-hyphens: inherit;
		line-height: inherit;
		vertical-align: inherit;
		word-break: inherit;
		text-align: inherit;
	}
}