<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

<!-- For testing only -->
    <link rel="stylesheet" href="../css/ink-chinatown.css"> 
    <!-- <link rel="stylesheet" href="../test/fixtures/ink.css">  -->

    <style type="text/css">
      
      /* Ink styles go here in production */
      
    </style>
    
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>

          <!-- Email Content -->


            <table class="container section"><tr><td>

              <!-- NOTE FROM THE EDITOR -->
              <table class="row section-header">
                  <tr>
                      <td class="wrapper last">

                          <!-- SECTION HEADER -->
                          <table class="twelve columns">
                              <tr>
                                  <td class="text-pad">
                                      <h2>Note from the Editor</h2>
                                  </td>
                                  <td class="expander"></td>
                              </tr>
                          </table>
                      </td>
                  </tr>
              </table>
              <table class="row section-body">
                <tr>
                    <td>
                          <!-- MAIN CONTENT SECTION - NOTE FROM THE EDITOR -->
                          <table class="twelve columns">
                              <tr>
                                  <td class="text-pad">
                                      <table>
                                          <tr>
                                              <td>
                                                  Dear readers, <br><br>

          I'm excited to introduce you to Utility Dive's redesigned newsletter. There are a number of new features that will enable us to better deliver news and analysis to you, including this editor's note and our new "What we're reading" section — a highly curated selection of important stories from around the web. <br><br>

          In the coming weeks and months, we will be rolling out more new features, so stay tuned. If you have any feedback on the redesigned newsletter, please get in touch with us at <a href="mailto:utility.dive.editors@industrydive.com">utility.dive.editors@industrydive.com</a>. <br><br>

          Thank you as always for choosing us to keep you informed on the latest developments in the electric utility industry. <br><br>


          <img src="http://s3.amazonaws.com/dive_static/editorial/davide2.png" align="left" width=70 height=70 style="margin-right:10px;max-width:70px;max-height:70px;">
                      Davide Savenije<br/>
                      Senior Editor, Utility Dive<br/>
                      <a href="https://twitter.com/davide_savenije">Twitter</a> | 
                      <a href="mailto:utility.dive.editors@industrydive.com">E-mail</a> 

                                              </td>
                                          </tr>
                                      </table>
                                  </td>
                                  <td class="expander"></td>
                              </tr>
                          </table>
                      </td>
                  </tr>
              </table> <!-- end note from editor -->
            </td></tr></table>




                <!-- DIVE INTO A TOPIC -->
            <table class="container section"><tr><td>
                <table class="row section-header">
                      <tr>
                          <td class="wrapper last">

                              <!-- SECTION HEADER – DIVE INTO A TOPIC --> 
                              <table class="twelve columns">
                                  <tr>
                                      <td class="text-pad">
                                          <h2>Dive into a topic</h2>
                                      </td>
                                      <td class="expander"></td>
                                  </tr>
                              </table>
                          </td>
                     </tr>
                </table>
                <!-- <table class="container border"><tr><td> -->
                <table class="row section-body">
                    <tr>
                        <td class="wrapper">
                              <!-- MAIN CONTENT SECTION – DIVE INTO A TOPIC --> 
                              <table class="six columns">
                                  <tr>
                                      <td class="content left-text-pad">
                                      col1

                                        <table class="button material-btn gray">
                                            <tr>
                                                <td>
                                                    <a href="http://www.utilitydive.com/topic/Generation/">Generation</a>
                                                </td>
                                            </tr>
                                        </table>

                                        
                                            <table class="spacer"><tr><td height="2" style="font-size:2px; line-height:2px">&nbsp;</td></tr></table>
                                        
                                        
                                        <table class="button material-btn gray">
                                            <tr>
                                                <td>
                                                    <a href="http://www.utilitydive.com/topic/transmission-distribution/">T&amp;D</a>
                                                </td>
                                            </tr>
                                        </table>

                                        
                                            <table class="spacer"><tr><td height="2" style="font-size:2px; line-height:2px">&nbsp;</td></tr></table>
                                        
                                        
                                        <table class="button material-btn gray">
                                            <tr>
                                                <td>
                                                    <a href="http://www.utilitydive.com/topic/solar/">Solar &amp; Renewables</a>
                                                </td>
                                            </tr>
                                        </table>
                                        end
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                </table> <!-- six columns -->
                        </td>
                        <td class="wrapper last">
                            <table class="six columns">
                                <tr>
                                  <td class="content right-text-pad">col2
                                    <table class="button material-btn gray">
                                        <tr>
                                            <td>
                                                <a href="http://www.utilitydive.com/topic/demand-response/">Demand Response</a>
                                            </td>
                                        </tr>
                                    </table>

                                    
                                        <table class="spacer"><tr><td height="2" style="font-size:2px; line-height:2px">&nbsp;</td></tr></table>
                                    
                                    
                                    <table class="button material-btn gray">
                                        <tr>
                                            <td>
                                                <a href="http://www.utilitydive.com/topic/market-news/">Corporate News</a>
                                            </td>
                                        </tr>
                                    </table>

                                    
                                        <table class="spacer"><tr><td height="2" style="font-size:2px; line-height:2px">&nbsp;</td></tr></table>
                                    
                                    
                                    <table class="button material-btn gray">
                                        <tr>
                                            <td>
                                                <a href="http://www.utilitydive.com/topic/policy/">Regulation &amp; Policy</a>
                                            </td>
                                        </tr>
                                    </table>
                                  </td>
                                  <td class="expander"></td>
                              </tr>
                          </table>
                      </td>
                    </tr>
                </table> <!-- end topics row -->
                <!-- </td></tr></table> -->

            </td></tr></table> <!-- container -->
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>